
<%- contentFor('title') %>
Registration Page 2

<%- contentFor('go_left') %>

<%- contentFor('go_right') %>


<%- contentFor('body') %>
<div class="jumbotron">
  <H1 id="header_text">About
    <BR /><img id="header_logo" src="/assets/images/D_small_transparent.png" alt="D" height="64" width="64" />ramaFest</H1>
</div>

<div class="well well-large">
  <P>DramaFest is a sample application that utilizes NodeJS, ExpressJS, EJS, mongoose, mLab, MongoDB, jQuery, bootstrap, and Auth0.</P>
  <P>The source code is <a href="https://github.com/ownlifeful/DramaFest">available here</a>.</P>
  <P>If you would like a custom web site built, please contact me at: ashwin@ownlifeful.com</P>
</div>

<div>
<form action="https://bitpay.com/checkout" method="post" >
  <input type="hidden" name="action" value="checkout" />
  <input type="hidden" name="posData" value="" />
  <input type="hidden" name="data" value="Krt/2jiOo1qgn3yuN6hibLjTRvtHL5ORW/GWAXTqZbQu2JRvi1BVpBzC/9sJ1V7GxlDBYg5v7EYsMoGA7vholVGbjiAk9lGDWsTrgASZFE3TW5kGZk7BuI1TDBueVMlbRTm/184NAaBWVEMdsHvxrAKdIJBFya//lteCx7RhuBflf/h0LhoCYQ/NyeR7UgRvnSmkW+H/pVir1/tpE3hzlA==" />
  <input type="image" src="/assets/images/button_donate-bitcoin-accepted.png" border="0" name="submit" alt="BitPay, the easy way to pay with bitcoins." >
</form>
</div>



<div align="left" style="margin-top: 50px;">
  <img src="/assets/images/Ashwin_Dixit.png" width="151" height="132" />
</div>
