
<%- contentFor('title') %>
Registration Page 2

<%- contentFor('go_left') %>

<%- contentFor('go_right') %>


<%- contentFor('body') %>
<div class="jumbotron">
  <H1>About DramaFest</H1>
</div>

<div class="well well-large">
  <P>DramaFest is a sample application that utilizes NodeJS, ExpressJS, EJS, mongoose, mLab, MongoDB, jQuery, bootstrap, and Auth0.</P>
  <P>If you would like a custom web site built, please contact me at: ashwin@dravinam.com</P>
</div>

<div align="left">
  <img src="/assets/images/Ashwin_Dixit.png" width="151" height="132" />
</div>
