
<%- contentFor('title') %>
Dramatic Festival 2017

<%- contentFor('go_left') %>

<%- contentFor('go_right') %>

<%- contentFor('body') %>
<div class="jumbotron">
  <span id="header_text">Welcome to
    <img id="header_logo" src="/assets/images/D_small_transparent.png" alt="D logo" height="64" width="64" />ramaFest</span>
</div>

<div>
  <p><a href="/page1"><b>Register</b></A> your theatrical production today.</p>
</div>
