

<%- contentFor('title') %>
Dramatic Festival


<%- contentFor('body') %>
<div class="jumbotron"><H1>Welcome to DramaFest</H1></div>

<div>
  <a href="/login">Login</A>
  <a href="/logout">Logout</A>
</div>
