
<%- contentFor('title') %>
Registration Page 2

<%- contentFor('body') %>
<div class="well well-large">
<form action="/page2" method="post" id="page2">
  <DIV class="form-group">
    <label for="field21">Field 21:</label>
    <TEXTAREA NAME="field21" class="form-control"><%= page.field21  %></TEXTAREA>
  </DIV>

  <DIV class="form-group">
    <label for="field22">Field 22:</label>
    <TEXTAREA NAME="field122" class="form-control"><%= page.field22 %></TEXTAREA>
  </DIV>

  <input type="hidden" name="page2_complete" value="1" />

  <input type="submit" role="button" class="button btn-primary btn-large" value="Save" id="submit" />
</form>
</div>
