<%- contentFor('title') %>
Registration Page 3

<%- contentFor('body') %>
<div class="well well-large">
<form action="/page3" method="post" id="page3">
  <DIV class="form-group">
    <label for="field31">Field 31:</label>
    <TEXTAREA NAME="field31" class="form-control"><%= page.field31  %></TEXTAREA>
  </DIV>

  <DIV class="form-group">
    <label for="field32">Field 32:</label>
    <TEXTAREA NAME="field32" class="form-control"><%= page.field32 %></TEXTAREA>
  </DIV>

  <input type="submit" role="button" class="button btn-primary btn-large" value="Save" id="submit" />

  <input type="submit" role="button" class="button btn-primary btn-large" value="Submit" id="final_submit" />

</form>
</div>
