<%- contentFor('title') %>
Registration Page 3

<%- contentFor('body') %>
<div class="well well-large">
<form action="/page3" method="post" id="page3">
  <DIV class="form-group">
    <label for="field31">Field 31:</label>
    <TEXTAREA NAME="field31" class="form-control"><%= page.field31  %></TEXTAREA>
  </DIV>

  <DIV class="form-group">
    <label for="field32">Field 32:</label>
    <TEXTAREA NAME="field32" class="form-control"><%= page.field32 %></TEXTAREA>
  </DIV>

  <input type="submit" role="button" class="button btn-primary btn-large" value="Save" id="submit" />



  <script>
    function counter_label() {
        let deadline = new Date(2017,9,15,13,12,3,0);
        let now = Date.now();
        let interval = deadline - now;
        let hh = parseInt( interval / 3600 ) || 0;
        let mm = parseInt( ( interval - hh * 3600 ) / 60 ) || 0;
        let ss = parseInt( interval - hh * 3600 - mm * 60 ) || 0;

        hh = (hh < 10 ? '0' + hh : hh) + " hours:";
        mm = (mm < 10 ? '0' + mm : mm) + " minutes:";
        ss = (ss < 10 ? '0' + ss : ss) + " seconds";

        $("#final_submit").val( "Time Remaining:" + hh + mm + ss );
        setTimeout(counter_label,1000);
    }
  </script>
  <script>
    $(document).ready(function() {
        counter_label();
    });

    </script>


  <input type="submit" role="button" class="button btn-primary btn-large" value="Submit" id="final_submit" />

</form>
</div>
